$grey-color: rgb(216, 215, 215);
$focus-color: rgb(0, 174, 255);

.container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  grid-template-columns: 1fr 1fr;
}

.search-container {
  max-width: 500px;
  margin: 0 auto;
}
